@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #333;
    font-size: 0.875rem;
    min-height:100vh;
    position: relative;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 700;
    font-style: normal;
}

a{
    transition:all 0.5s;
    text-decoration: none;
}
a:hover{
    opacity:0.7;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 ;
    padding: 0 40px;
}

/*headerかんんれんんん*/

#header{
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border-bottom: solid rgba(255, 68, 0, 0.5);
}
.site-title #title{
    text-align: left;
    font-size: 30px;
    color: orangered;
    text-shadow: 3px 3px 3px #333;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 700;
    font-style: normal;
}

#navi a {
    color:gray;
}
/*この辺にハンバーガーメニューcsscode置きたい*/
#navi ul{
    display:flex;   
    
}
#navi li {
    width:25vw;
    height:100%;
    font-size:large;
    text-align:center;
    font-size:25px;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 700;
    font-style: normal;

}

#navi{
    width: 75vw;
    height:80%;
}
.nav-menu{
    height:100%;
}
/*以上へっだーーーーー*/
main{
    display: flex;
    background-color: #efefef;

}
.main-wrapper1{
    background-color: #fff;
    border:solid;
    border-radius: 7px;
    border-color: rgba(255, 68, 0, 0.5);
    margin:5vh 3vw;
    padding: 0px 2px;
    width:77%;
}
.main-wrapper2{
    background-color: #fff;
    border:solid;
    border-radius: 7px;
    border-color: rgba(255, 68, 0, 0.5);
    margin:5vh 3vw;
    padding: 0px 2px;
    width:23%;
}
.page-title{
    margin-bottom: 30px;
}
.album-list{
    display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 35px;
}
.album-list img{
    margin-bottom: 10px;
    vertical-align:top;
}
.album-list p{
    font-size: 0.75rem;
}